body {
  background: #dfd3c3;
  background: #d1cebd;
  font-family: "arial", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p,
li {
  color: #9a9696;
  font-weight: 100;
  line-height: 19px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-container-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.app-container {
  margin-top: 30px;
  padding: 30px;
  background: #f6eedf;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(158, 162, 162, 0.2);
}

.weather-overview {
  margin-bottom: 15px;
}
.weather-temperature i {
  margin-left: 18px;
  font-size: 20px;
}

.weather-temperature strong {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -9px;
  font-size: 14px;
}

.weather-description {
  position: relative;
  left: 90px;
}
